<!-- End Article Description Section -->
<div class="bg-light rounded mt-11">
  <div class="container space-1 space-md-2">
    <div class="row">
      <div class="col-sm-6 text-center mx-auto pl-xl-7 order-2 order-sm-1 pt-5">
        <h2 class="landing-h2">Propulsez votre carrière.</h2>
        <p class="mx-auto">
          Nous accompagnons les musicien·nes les plus ambitieux·ses dans le développement de leur carrière grâce à notre formation en ligne 100% finançable Artiste Entrepreneur.
        </p>
        <a href="https://artiste-entrepreneur.com/?utm_source=studiomatic&amp;utm_medium=blog&amp;utm_campaign=Studiomatic lance la formation Artiste Entrepreneur" class="btn btn-primary mt-3" target="_blank">
          Formation Artiste Entrepreneur
        </a>
      </div>
      <div class="col-sm-5 d-flex justify-content-center order-1 order-sm-2">
        <%= image_tag("svg/illustrations/jetpack.svg", class: "img-fluid w-75", alt: "Illustration pour la formation Artiste Entrepreneur") %>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>