/* line 1, app/assets/stylesheets/overwrites.scss */
h1, .h1 {
  font-family: 'Roboto', sans-serif !important;
  color: #21325b !important;
}

/* line 6, app/assets/stylesheets/overwrites.scss */
h2, .h2 {
  font-family: 'Roboto', sans-serif !important;
  color: #21325b !important;
}

/* line 11, app/assets/stylesheets/overwrites.scss */
h3, .h3 {
  font-family: 'Roboto', sans-serif !important;
  color: #21325b !important;
}

/* line 16, app/assets/stylesheets/overwrites.scss */
h4, .h4 {
  font-family: 'Roboto', sans-serif !important;
  color: #21325b !important;
}

/* line 21, app/assets/stylesheets/overwrites.scss */
h5, .h5 {
  font-family: 'Roboto', sans-serif !important;
  color: #21325b !important;
}

/* line 26, app/assets/stylesheets/overwrites.scss */
p {
  font-family: 'Open Sans Regular', sans-serif !important;
}
