<% content_for :meta_title, "Conditions générales de vente" %>
<% content_for :meta_description, "Les conditions générales de vente de notre formation en ligne." %>

<div class="container mt-11 space-3">
  <div class="lp-doc-container lp-doc-modal" style="overflow: hidden;"><div id="lp-doc-modal" class="lp-doc" style="margin-left: 0px;"><div class="page" style="display: block;"><span data-key="output-1-0"><h1 style="text-align:center"><strong>CONDITIONS GENERALES DE VENTE</strong></h1>

    <p style="text-align:center"><em>En vigueur au 21/11/2020</em></p>

    <p style="text-align:center">&nbsp;</p>

    <h2 style="text-align: justify;">ARTICLE 1 - Champ d'application</h2>

    <p style="text-align: justify;">&nbsp;</p>

    <p style="text-align: justify;">Les présentes Conditions Générales de Vente (dites «&nbsp;CGV&nbsp;») s'appliquent, sans restriction ni réserve à l'ensemble des ventes conclues par le Vendeur auprès d'acheteurs non professionnels (« Les Clients ou le Client »), désirant acquérir les produits proposés à la vente (« Les Produits ») par le Vendeur sur le site <em>https://artiste-entrepreneur.com</em>. Les Produits proposés à la vente sur le site sont les suivants :</p>

    <ul>
      <li style="text-align: justify;">Formations vidéo en ligne</li>
    </ul>

    <p style="text-align: justify;">Les caractéristiques principales des Produits et notamment les spécifications, illustrations et indications de dimensions ou de capacité des Produits, sont présentées sur le site https://artiste-entrepreneur.com&nbsp;ce dont le client est tenu de prendre connaissance avant de commander.</p>

    <p style="text-align: justify;">Le choix et l'achat d'un Produit sont de la seule responsabilité du Client.</p>

    <p style="text-align: justify;">Les offres de Produits s'entendent dans la limite des stocks disponibles, tels que précisés lors de la passation de la commande.</p>
    </span><span data-key="output-268-0"><p style="text-align: justify;">Ces CGV sont accessibles à tout moment sur le site <em>https://artiste-entrepreneur.com</em> et prévaudront sur toute autre document.</p>

    <p style="text-align: justify;">Le Client déclare avoir pris connaissance des présentes CGV et les avoir acceptées en cochant la case prévue à cet effet avant la mise en œuvre de la procédure de commande en ligne du site <em>https://artiste-entrepreneur.com</em>.</p>

    <p style="text-align: justify;">Sauf preuve contraire, les données enregistrées dans le système informatique du Vendeur constituent la preuve de l'ensemble des transactions conclues avec le Client.</p>
    </span><span data-key="output-270-0"><p style="margin-left:40px">Les coordonnées du Vendeur sont les suivantes :</p>

    <p style="margin-left:40px">Studiomatic, SAS</p>

    <p style="margin-left:40px">Capital social de 3000 euros</p>

    <p style="margin-left:40px">Immatriculé au RCS de Saint Mandé, sous le numéro 84836739700017</p>

    <p style="margin-left:40px">5 avenue du général de Gaulle, 94160 Saint Mandé</p>

    <p style="margin-left:40px">mail : hello@artiste-entrepreneur.com</p>

    </span><span data-key="output-193-0"><p style="text-align: justify;">Les Produits présentés sur le site https://artiste-entrepreneur.com sont proposés à la vente pour les territoires suivants :</p>

    <p style="text-align: justify;">DOM-TOM.</p>
    </span><span data-key="output-255-0"><p style="text-align: justify;">En cas de commande vers un pays autre que la France métropolitaine, le Client est l'importateur du ou des Produits concernés.</p>

    <p style="text-align: justify;">Pour tous les Produits expédiés hors Union européenne et DOM-TOM, le prix sera calculé hors taxes automatiquement sur la facture.</p>

    <p style="text-align: justify;">Des droits de douane ou autres taxes locales ou droits d'importation ou taxes d'état sont susceptibles d'être exigibles. Ils seront à la charge et relèvent de la seule responsabilité du Client.</p>
    </span><span data-key="output-194-0"><h2>ARTICLE 2 - Prix</h2>

    <p style="text-align:justify">Les Produits sont fournis aux tarifs en vigueur figurant sur le site <em>https://artiste-entrepreneur.com</em>, lors de l'enregistrement de la commande par le Vendeur.</p>

    <p style="text-align:justify">Les prix sont exprimés en Euros, HT et TTC.</p>

    <p style="text-align:justify">Les tarifs tiennent compte d'éventuelles réductions qui seraient consenties par le Vendeur sur le site <em>https://artiste-entrepreneur.com</em>.</p>

    <p style="text-align:justify">Ces tarifs sont fermes et non révisables pendant leur période de validité mais le Vendeur se réserve&nbsp;le droit, hors période de validité, d’en modifier les prix à tout moment.</p>

    <p style="text-align:justify">Les prix ne comprennent pas les frais de traitement, d'expédition, de transport et de livraison, qui sont facturés en supplément, dans les conditions indiquées sur le site et calculés préalablement à la passation de la commande.</p>

    <p style="text-align:justify">Le paiement demandé au Client correspond au montant total de l'achat, y compris ces frais.</p>

    <p style="text-align:justify">Une facture est établie par le Vendeur et remise au Client lors de la livraison des Produits commandés.</p>
    </span><span data-key="output-195-0"><h2 style="text-align: justify;">ARTICLE 3 – Commandes</h2>

    <p style="text-align: justify;">Il appartient au Client de sélectionner sur le site <em>https://artiste-entrepreneur.com</em> les Produits qu'il désire commander, selon les modalités suivantes :</p>

    <p style="text-align: justify;">Le client rempli le formulaire de candidature à la formation afin d'être rappelé par notre directeur d'admission. <br><br>Une fois le bilan de compétence effectué et la formation choisie, le client se voit proposé le financement de sa formation via les CPF, OPCO ou Pôle Emploi. <br>Si celui-ci préfère opter pour une paiement comptant, il pourra juste se rendre sur la page dédié au paiement afin de valider sa participation à la formation et avoir accès aux contenus et lives. .</p>

    <p style="text-align: justify;">Les offres de Produits sont valables tant qu'elles sont visibles sur le site, dans la limite des stocks disponibles.</p>

    <p style="text-align: justify;">La vente ne sera considérée comme valide qu’après paiement intégral du prix. Il appartient au Client de vérifier l'exactitude de la commande et de signaler immédiatement toute erreur.</p>

    <p style="text-align: justify;">Toute commande passée sur le site <em>https://artiste-entrepreneur.com&nbsp;</em>constitue la formation d'un contrat conclu à distance entre le Client et le Vendeur.</p>

    <p style="text-align: justify;">Le Vendeur se réserve le droit d'annuler ou de refuser toute commande d'un Client avec lequel il existerait un litige relatif au paiement d'une commande antérieure.</p>

    <p style="text-align: justify;">Le Client pourra suivre l'évolution de sa commande sur le site.</p>
    </span><span data-key="output-352-0"><h2 style="text-align: justify;">ARTICLE 3 Bis - Espace client - Compte</h2>

    <p style="text-align: justify;">Afin de passer commande, le Client est invité à créer un compte (espace personnel).</p>

    <p style="text-align: justify;">Pour ce faire, il doit s’inscrire en remplissant le formulaire qui lui sera proposé au moment de sa commande et s’engage à fournir des informations sincères et exactes concernant son état civil et ses coordonnées, notamment son adresse email.</p>

    <p style="text-align: justify;">Le Client est responsable de la mise à jour des informations fournies. Il lui est précisé qu’il peut les modifier en se connectant à son compte.</p>

    <p style="text-align: justify;">Pour accéder à son espace personnel et aux historiques de commande, le Client devra s'identifier à l'aide de son nom d’utilisateur et de son mot de passe qui lui seront communiqués après son inscription et qui sont strictement personnels. A ce titre, le Client s’en interdit toute divulgation. Dans le cas contraire, il restera seul responsable de l’usage qui en sera fait.</p>

    <p style="text-align: justify;">Le Client pourra également solliciter sa désinscription en se rendant à la page dédiée sur son espace personnel ou envoyant un email à&nbsp;: hello@artiste-entrepreneur.com. Celle-ci sera effective dans un délai raisonnable.</p>

    <p style="text-align: justify;">En cas de non respect des conditions générales de vente et/ou d’utilisation, le site https://artiste-entrepreneur.com aura la possibilité de suspendre voire de fermer le compte d’un client après mise en demeure adressée par voie électronique et restée sans effet.</p>

    <p style="text-align: justify;">Toute suppression de compte, quel qu’en soit le motif, engendre la suppression pure et simple de toutes informations personnelles du Client.</p>

    <p style="text-align: justify;">Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité du Vendeur.</p>

    <p style="text-align: justify;">La création du compte entraine l’acceptation des présentes conditions générales de vente.</p>
    </span><span data-key="output-667-0"><h2 style="text-align: justify;">ARTICLE 4 - Conditions de paiement</h2>

    <p style="text-align: justify;">Le prix est payé par voie de paiement sécurisé, selon les modalités suivantes :</p>
    </span><span data-key="output-668-0"><ul>
    <li style="text-align: justify;">paiement par carte bancaire</li>
    </ul>
    </span><span data-key="output-671-0"><p style="text-align: justify;">Le prix est payable comptant par le Client, en totalité au jour de la pasation de la commande.</p>
    </span><span data-key="output-300-0"><p style="text-align:justify">Les données de paiement sont échangées en mode crypté grâce au protocole défini par le prestataire de paiement agréé intervenant pour les transactions bancaires réalisée sur le site https://artiste-entrepreneur.com.</p>
    </span><span data-key="output-298-0"><p style="text-align:justify">Les paiements effectués par le Client ne seront considérés comme définitifs qu'après encaissement effectif par le Vendeur des sommes dues.</p>

    <p style="text-align:justify">Le Vendeur ne sera pas tenu de procéder à la délivrance des Produits commandés par le Client si celui-ci ne lui en paye pas le prix en totalité dans les conditions ci-dessus indiquées.</p>

    <h2 style="text-align:justify">ARTICLE 5 - Transfert de propriété</h2>
    </span><span data-key="output-692-0"><p style="text-align:justify">Le transfert de propriété des Produits du Vendeur au Client ne sera réalisé qu'après complet paiement du prix par ce dernier, et ce quelle que soit la date de livraison desdits Produits.</p>
    </span><span data-key="output-693-0"><h2>ARTICLE 6 - Droit de rétractation</h2>
    </span><span data-key="output-695-0"><p style="text-align: justify;">Compte tenu de la nature des Produits vendus, les commandes passées par le Client ne bénéficient pas du droit de rétractation.</p>

    <p style="text-align: justify;">Le contrat est donc conclu de façon définitive dès la passation de la commande par le Client selon les modalités précisées aux présentes CGV.</p>
    </span><span data-key="output-696-0"><h2 style="text-align:justify">ARTICLE 7 - Responsabilité du Vendeur - Garanties</h2>

    <p style="text-align:justify">Les Produits fournis par le Vendeur bénéficient&nbsp;:</p>

    <ul>
      <li style="text-align:justify">de la garantie légale de conformité, pour les Produits défectueux, abîmés ou endommagés ou ne correspondant pas à la commande,</li>
    </ul>

    <ul>
      <li style="text-align:justify">de la garantie légale contre les vices cachés provenant d'un défaut de matière, de conception ou de fabrication affectant les produits livrés et les rendant impropres à l'utilisation,</li>
    </ul>

    <p style="text-align:justify"><em><u>Dispositions relatives aux garanties légales</u></em></p>

    <p style="text-align:justify">Article L217-4 du Code de la consommation</p>

    <p style="text-align:justify"><em>«&nbsp;Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.&nbsp;»</em></p>

    <p style="text-align:justify">Article L217-5 du Code de la consommation</p>

    <p style="text-align:justify"><em>«&nbsp;Le bien est conforme au contrat :</em></p>

    <p style="text-align:justify"><em>1° S'il est propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :</em></p>

    <p style="text-align:justify"><em>- s'il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ;</em></p>

    <p style="text-align:justify"><em>- s'il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;</em></p>

    <p style="text-align:justify"><em>2° Ou s'il présente les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.&nbsp;»</em></p>

    <p style="text-align:justify">Article L217-12 du Code de la consommation</p>

    <p style="text-align:justify"><em>«&nbsp;L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.&nbsp;»</em></p>

    <p style="text-align:justify">Article 1641 du Code civil.</p>

    <p style="text-align:justify"><em>«&nbsp;Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage, que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus.&nbsp;»</em></p>

    <p style="text-align:justify">Article 1648 alinéa 1er du Code civil</p>

    <p style="text-align:justify"><em>«&nbsp;L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux ans à compter de la découverte du vice.&nbsp;»</em></p>

    <p style="text-align:justify">Article L217-16 du Code de la consommation.</p>

    <p style="text-align:justify"><em>«&nbsp;Lorsque l'acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l'acquisition ou de la réparation d'un bien meuble, une remise en état couverte par la garantie, toute période d'immobilisation d'au moins sept jours vient s'ajouter à la durée de la garantie qui restait à courir. Cette période court à compter de la demande d'intervention de l'acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d'intervention.&nbsp;»</em></p>

    <p style="text-align:justify">Afin de faire valoir ses droits, le Client devra informer le Vendeur, par écrit (mail ou courrier), de la non-conformité des Produits ou de l'existence des vices cachés à compter de leur découverte.</p>

    <p style="text-align:justify">La responsabilité du Vendeur ne saurait être engagée dans les cas suivants :</p>

    <ul>
      <li style="text-align:justify">non respect de la législation du pays dans lequel les produits sont livrés, qu'il appartient au Client de vérifier,</li>
      <li style="text-align:justify">en cas de mauvaise utilisation, d'utilisation à des fins professionnelles, négligence ou défaut d'entretien de la part du Client, comme en cas d'usure normale du Produit, d'accident ou de force majeure.</li>
      <li style="text-align:justify">Les photographies et graphismes présentés sur le site ne sont pas contractuels et ne sauraient engager la responsabilité du Vendeur.</li>
    </ul>

    <p style="text-align:justify">La garantie du Vendeur est, en tout état de cause, limitée au remplacement ou au remboursement des Produits non conformes ou affectés d'un vice.</p>
    </span><span data-key="output-698-0"><h2>ARTICLE 8 - Données personnelles</h2>
    </span><span data-key="output-699-0"><p>Le Client est informé que la collecte de ses données à caractère personnel est nécessaire à la vente des Produits et à leur délivrance / livraison, confiées au Vendeur. Ces données à caractère personnel&nbsp;sont récoltées uniquement pour l’exécution du contrat de vente.</p>
    </span><span data-key="output-702-0"><p><strong>8.1 Collecte des données à caractère personnel</strong></p>

    <p>Les données à caractère personnel qui sont collectées sur le site https://artiste-entrepreneur.com sont les suivantes&nbsp;:</p>

    <p><strong>Ouverture de compte</strong></p>

    <p>Lors de la création du compte Client / utilisateur :&nbsp;</p>
    </span><span data-key="output-703-0"><p>Noms, prénoms, adresse postale, numéro de téléphone et adresse e-mail.</p>
    </span><span data-key="output-631-0"><p><strong>Paiement</strong></p>

    <p>Dans le cadre du paiement des Produits proposés sur le site https://artiste-entrepreneur.com, celui-ci enregistre des données financières relatives au compte bancaire ou à la carte de crédit du Client / utilisateur.</p>
    </span><span data-key="output-709-0"><p><strong>8.2 Destinataires des données à caractère personnel</strong></p>
    </span><span data-key="output-711-0"><p>Les données à caractère personnel sont utilisées par le Vendeur et ses co-contractants pour l’exécution du contrat et pour assurer l’efficacité de la prestation de&nbsp;vente et de délivrance des Produits.</p>

    <p>La ou les catégorie(s) de co-contractant(s) est (sont) :</p>
    </span><span data-key="output-713-0"><ul>
    <li>Les prestataires établissements de paiement</li>
    </ul>
    </span><span data-key="output-714-0"><ul>
    <li>Learning Management System (Thinkific.com)</li>
    </ul>
    </span><span data-key="output-637-0"><p><strong>8.3 Responsable de traitement</strong></p>
    </span><span data-key="output-715-0"><p>Le responsable de traitement des données est le Vendeur,&nbsp;au sens de la loi Informatique et libertés et à compter du 25 mai 2018 du Règlement 2016/679 sur la protection des données à caractère personnel.</p>
    </span><span data-key="output-719-0"><p><strong>8.4 limitation du traitement</strong></p>

    <p>Sauf si le Client exprime son accord exprès, ses données à caractère personnelles ne sont pas utilisées à des fins publicitaires ou marketing.</p>

    <p><strong>8.5 Durée de conservation des données</strong></p>

    <p>Le Vendeur conservera les données ainsi recueillies pendant un délai de 5 ans, couvrant le temps de la prescription de la responsabilité civile contractuelle applicable.</p>

    <p><strong>8.6 Sécurité et confidentialité</strong></p>

    <p>Le Vendeur met en œuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et accès non autorisés. Toutefois il est à signaler qu’Internet n’est pas un environnement complètement sécurisé et le Vendeur ne peut garantir la sécurité de la transmission ou du stockage des informations sur Internet.</p>

    <p><strong>8.7 Mise en œuvre des droits des Clients et utilisateurs</strong></p>

    <p>En application de la règlementation applicable aux données à caractère personnel, les Clients et utilisateurs du site https://artiste-entrepreneur.com disposent des droits suivants&nbsp;:</p>

    <ul>
      <li>Ils peuvent mettre à jour ou supprimer les données qui les concernent de la manière suivante :</li>
    </ul>

    <p style="margin-left:40px">En se connectant à son compte, dans la rubrique "Paramètres personnels".</p>

    <ul>
      <li>Ils peuvent supprimer leur compte en écrivant à l’adresse électronique indiqué à l’article 9.3 «&nbsp;Responsable de traitement&nbsp;»</li>
    </ul>

    <ul>
      <li>Ils peuvent exercer leur droit d’accès pour connaître les données personnelles les concernant en écrivant à l’adresse indiqué à l’article 9.3 «&nbsp;Responsable de traitement&nbsp;»</li>
    </ul>

    <ul>
      <li>Si les données à caractère personnel détenues par le Vendeur sont inexactes, ils peuvent demander la mise à jour des informations des informations en écrivant à l’adresse indiqué à l’article 9.3 «&nbsp;Responsable de traitement&nbsp;»</li>
    </ul>

    <ul>
      <li>Ils peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données en écrivant à l’adresse indiqué à l’article 9.3 «&nbsp;Responsable de traitement&nbsp;»</li>
    </ul>

    <ul>
      <li>Ils&nbsp;peuvent également solliciter la portabilité des données détenues par le Vendeur vers un autre prestataire</li>
    </ul>

    <ul>
      <li>Enfin, ils&nbsp;peuvent s’opposer au traitement de leurs données par le Vendeur</li>
    </ul>

    <p>Ces droits, dès lors qu’ils ne s’opposent pas à la finalité du traitement, peuvent être exercé en adressant une demande par courrier ou par E-mail au Responsable de traitement dont les coordonnées sont indiquées ci-dessus.</p>

    <p>Le responsable de traitement doit apporter une réponse dans un délai maximum d’un mois.</p>

    <p>En cas de refus de faire droit à la demande du Client, celui-ci doit être motivé.</p>

    <p>Le Client est informé qu’en cas de refus, il peut introduire une réclamation auprès de la CNIL (3 place de Fontenoy, 75007 PARIS) ou saisir une autorité judiciaire.</p>

    <p>Le Client peut être invité à cocher une case au titre de laquelle il accepte de recevoir des mails à caractère informatifs et publicitaires de la part du Vendeur. Il aura toujours la possibilité de retirer son accord à tout moment en contactant le Vendeur (coordonnées ci-dessus) ou en suivant le lien de désabonnement.</p>
    </span><span data-key="output-243-0"><h2 style="text-align:justify">ARTICLE 9 - Propriété intellectuelle</h2>

    <p style="text-align:justify">Le contenu du site https://artiste-entrepreneur.com&nbsp;est la propriété du Vendeur et de ses partenaires et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle.</p>

    <p style="text-align:justify">Toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.</p>

    <h2 style="text-align:justify">ARTICLE 10 - Droit applicable - Langue</h2>

    <p style="text-align:justify">Les présentes CGV et les opérations qui en découlent sont régies et soumises au droit français.</p>

    <p style="text-align:justify">Les présentes CGV sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs langues étrangères, seul le texte français ferait foi en cas de litige.</p>
    </span><span data-key="output-720-0"><h2 style="text-align:justify">ARTICLE 11 - Litiges</h2>

    <p style="text-align:justify">Pour toute réclamation merci de contacter le service clientèle à l’adresse postale ou mail du Vendeur indiquée à l’ARTICLE 1 des présentes CGV.</p>

    <p style="text-align:justify">Le Client est également informé qu’il peut, également recourir à la plateforme de Règlement en Ligne des Litige (RLL) :https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show</p>

    <p style="text-align:justify">Tous les litiges auxquels les opérations d'achat et de vente conclues en application des présentes CGV et qui n’auraient pas fait l’objet d’un règlement amiable entre le vendeur ou par médiation, seront soumis aux tribunaux compétents dans les conditions de droit commun.</p>
    </span></div></div></div>
</div>