<main id="content" role="main" class="overflow-hidden">

  <!-- Articles Section -->
  <div id="manifest" class="container space-3 space-lg-3 mt-11">
    <!-- Title -->
    <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-5 mb-md-5">
      <h2>Merci d'avoir pris le temps de remplir notre formulaire.</h2>
    </div>
    <!-- End Title -->

    <div class="w-md-80 w-lg-60 text-center mx-md-auto">
      <p>
        On va revenir vers toi rapidement pour un rendez-vous.<br> On a hâte de pouvoir t'aider ! 🤘
      </p>
    </div>
  </div>
  <!-- End Articles Section -->

  <div class="bg-light rounded space-3 space-lg-3" style="background-image: url(assets/svg/components/abstract-shapes-20.svg)">
    <div class="container">
      <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-11 mb-md-11">
        <h2>Retrouves-nous sur tes réseaux sociaux préférés.</h2>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center">
          <a class="" href="" target="_blank">
            <%= image_tag("icons/facebook.svg", class: "img-fluid w-25 mb-3", alt: "Logo du réseau social Facebook") %>
          </a>
        </div>
        <div class="col-sm-4 text-center">
          <a class="" href="" target="_blank">
            <%= image_tag("icons/instagram.svg", class: "mt-4 mt-xl-0 img-fluid w-25 mb-3", alt: "Logo du réseau social Instagramm") %>
          </a>
        </div>
        <div class="col-sm-4 text-center">
          <a class="" href="" target="_blank">
            <%= image_tag("icons/twitter.svg", class: "mt-4 mt-xl-0 img-fluid w-25 mb-3", alt: "Logo du réseau social Twitter") %>
          </a>
        </div>
      </div>
    </div>
  </div>

</main>