<!-- Apply CTA Section -->
<div id="apply" class="bg-light">
  <div class="container space-2 space-lg-3">
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <h2>Intéressé·e par notre formation ?<br>Pré-inscription + 30 minutes <br>de coaching gratuites.</h2>
    </div>
    
    <div class="alert alert-soft-primary text-center w-lg-50 mx-auto p-6 fa-lg mb-11 shadow" role="alert">
      Prochaine session le 20 janvier 2021 !
    </div>

    <!-- Pricing -->
    <div class="row align-items-lg-center no-gutters">
      <div class="col-lg-12">
        <!-- Card -->
        <div class="card bg-navy text-center ml-lg-n2 shadow" data-aos="fade-up" data-aos-delay="200">
          <div class="card-body p-7">
            <figure class="max-w-10rem mx-auto mb-4">
              <%= image_tag("svg/icons/icon-white-4.svg", class: "img-fluid", alt: "Icône d'illustration du chat") %>
            </figure>
            <h2 class="text-white">Appelons-nous pour faire le point.</h2>
            <p class="text-white w-75 mx-auto">On prendra le temps de discuter de ton activité d'artiste, des choses qui t'empêchent d'aller plus loin et si tu le souhaites, nous t'aideront à créer ton dossier de financement.</p>
          </div>

          <hr class="opacity-xs my-0">
          <a class="typeform-share" href="https://form.typeform.com/to/jcuS1lRt" data-mode="popup" target="_blank">
            <div class="card-footer border-0 bg-navy px-7">
              <p class="text-white font-weight-bold mt-3 fa-lg">Je profite de l'offre<i class="fas fa-angle-right fa-sm ml-1"></i></p>
            </div>
          </a> 
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Apply CTA -->
  </div>
</div>