<!-- Four Step Section -->
<div class="overflow-hidden space-2">
  <div class="container mt-5 mb-11">
    <div class="mb-11 text-center">
      <h2>L'ambition s'apprend et se pratique.</h2>
    </div>
    <div class="row justify-content-lg-between align-items-lg-center">

      <div class="col-lg-5 mb-9 mb-lg-0">
        <!-- Mockups -->
        <div class="position-relative max-w-40rem mx-auto">
          <%= image_tag("svg/illustrations/reading.svg", class: "device-iphone-x-frame", alt: "Image d'illustration de l'apprentissage") %>
        </div>
        <!-- End Mockups -->
      </div>

      <div class="col-lg-7">
        <!-- Icon Block -->
        <ul class="step step-dashed mb-7">
          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-xs step-icon-soft-primary">1</span>
              <div class="step-content">
                <h3 class="h4">Acquérir le meilleur état d'esprit.</h3>
                <p>Les meilleurs outils ne feront rien pour toi si tu n'as pas le bon état d'esprit. Le début de la formation a pour ambition de te faire voir d'un oeil différent le business dans la musique et la façon dont tu mènes ta carrière.</p>
              </div>
            </div>
          </li>
          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-xs step-icon-soft-primary">2</span>
              <div class="step-content">
                <h4>Utiliser les meilleurs outils numériques.</h4>
                <p class="mb-0">Un·e artiste ambitieux·euse avec les outils et la méthodologie appropriée est inarrêtable. Nos conseils concrets d'utilisation des outils numériques les plus performants te permettront de donner vie à tes projets avec plus d'efficience.</p>
              </div>
            </div>
          </li>
          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-xs step-icon-soft-primary">3</span>
              <div class="step-content">
                <h4>S'approprier les meilleures stratégies.</h4>
                <p class="mb-0">Dans notre formation, nous ne te livrerons pas de secrets pour mieux vivre de ta musique car il n'y en a pas. Par contre, nous te permettrons de t'approprier des stratégies logiques et fonctionnelles grâce auxquelles tu pourras améliorer ta carrière.</p>
              </div>
            </div>
          </li>
          <li class="step-item mb-0">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-xs step-icon-soft-primary">4</span>
              <div class="step-content">
                <h4>Utiliser des ressources fonctionnelles et opérationnelles</h4>
                <p class="mb-0">Pourquoi réinventer une énième fois la roue : templates Excel, site internet, stratégie de contenu, checklists, configurations, plans... Ces choses, nous les avons. Nous allons te les donner pour que tu gagnes du temps et que tu te concentres sur ta musique.</p>
              </div>
            </div>
          </li>
        </ul>
        <!-- End Icon Block -->
      </div>
      <div class="mt-4 mx-auto">
        <a class="btn btn-primary transition-3d-hover px-4" href="#apply">Candidater à la formation</a>
      </div> 
    </div>
  </div>
</div>
<!-- End Four Step Section -->