<!-- Hero Section -->
<div class="gradient-y-gray position-relative">
  <div class="space-top-4 space-bottom-2 space-bottom-lg-3">
    <div class="container mt-lg-11">
      <!-- Content -->
      <div class="row">
        <div class="col-lg-5 col-xl-6">
          <div class="mb-5">
            <h1 class="display-4">Prends en main ta carrière de musicien.</h1>
            <p class="lead">Nous accompagnons les musicien·nes les plus ambitieux·ses dans le développement de leur carrière grâce à des formations en ligne complètes et uniques.</p>
          </div>

          <div class="col-sm-auto">
            <a href="#apply" class="btn btn-primary btn-block">Candidater à la formation</a>
          </div>
        </div>
      </div>
      <!-- End Content -->
    </div>

    <div class="transform-rotate-4">
      <div class="d-none d-lg-flex flex-lg-wrap align-items-lg-end position-absolute top-0 left-50 transform-rotate-6" style="width: 45rem;">
        <!-- Device Mockup -->
        <div class="device device-horizontal-ipad mr-4 mb-4" style="width: 31rem;" data-aos="fade-up" data-aos-delay="150" data-aos-offset="-300">
          <%= image_tag("people/img1.jpg", class: "img-fluid rounded", style: "margin-top: -18rem;", alt: "Photo d'illustration de la formation en ligne Artiste Entrepreneur") %>
        </div>
      </div>
    </div>
  </div>

  <!-- SVG Bottom Shape -->
  <figure>
    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
      <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"/>
    </svg>
  </figure>
  <!-- End SVG Bottom Shape -->
</div>
<!-- End Hero Section -->