<!-- Manifest Section -->
<div id="manifest" class="container space-2 space-lg-2">
  <!-- Title -->
  <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-5 mb-md-5">
    <h2>L'artiste est un entrepreneur qui s'ignore.</h2>
  </div>
  <!-- End Title -->

  <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-5 mb-md-9">
    <p>
      Que tu le veuilles ou non, tu es un·e entrepreneur·euse. En tant qu'artiste, tu évolues sur un marché avec de la concurrence. Tu dois trouver des clients pour vendre ton travail, démarcher pour convaincre, organiser ta journée et dédier du temps à ta création artistique et surtout... payer tes factures. Tu pratiques ton art au quotidien mais tu comprends que cela n'est pas suffisant. <br><br>
      Notre mission est de t'accompagner dans l’acquisition de compétences opérationnelles, dans le développement d'une culture entrepreneuriale et dans l'utilisation des meilleurs outils et stratégies numériques pour booster tes projets artistiques et enfin vivre correctement et en toute indépendance de ton art. 
    </p>
  </div>
</div>
<!-- End Manifest Section -->