<!-- Perks Section -->
<div class="bg-light rounded mx-3 mx-md-11 space-lg-3 mb-11 py-11 py-xl-0 " style="background-image: url(assets/svg/components/abstract-shapes-20.svg)">
  <div class="container">
    <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-11 mb-md-11">
      <h2>La formation Artiste Entrepreneur <br>en trois points.</h2>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center">
        <%= image_tag("icons/video-tutorials.png", class: "img-fluid w-25 mb-3", alt: "Icône d'illustration des tutoriels vidéo") %>
        <h3 class="">Formation <br>vidéo</h3>
      </div>
      <div class="col-sm-4 text-center">
        <%= image_tag("icons/conversation.png", class: "img-fluid w-25 mb-3", alt: "Icône d'illustration de la communauté") %>
        <h3 class="">Communauté<br> d'artistes</h3>
      </div>
      <div class="col-sm-4 text-center">
        <%= image_tag("icons/videoconference.png", class: "img-fluid w-25 mb-3", alt: "Icône d'illustration de la visio-conférence") %>
        <h3 class="">Coaching en <br>petit groupe</h3>
      </div>
    </div>
  </div>
</div>
<!-- End Perks Section -->