<!-- Pricing Section -->
<div id="pricing" class="container space-2 mb-11">
  <!-- Title -->
  <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <h2>Combien ça coûte ?</h2>
  </div>
  <!-- End Title -->

  <div class="row align-items-lg-center">
    <div id="stickyBlockStartPoint" class="col-lg-5 mb-9 mb-lg-0 text-center">
      <!-- Pricing -->
      <div class="card z-index-2 p-4 p-md-7">
        <span class="text-dark">
          <span class="display-4">790</span>
          <span class="font-size-2">€</span>
        </span>

        <hr class="my-4">

        <div class="mb-5">
          <p>Un seul et unique tarif. 100% finançable.</p>
        </div>

        <div class="mb-2">
          <a class="btn btn-primary transition-3d-hover" href="#apply">
            Candidater à la formation <i class="fas fa-angle-right fa-sm ml-1"></i>
          </a>
        </div>
      </div>
      <!-- End Pricing -->
    </div>

    <div class="col-lg-7">
      <div class="pl-lg-6">
        <div class="row">
          <div class="col-sm-6 mb-3">
            <!-- Icon Blocks -->
            <figure class="w-100 mx-auto max-w-8rem mb-3">
              <%= image_tag("icons/money.png", class: "img-fluid", alt: "Icône d'illustration du financement") %>
            </figure>
            <h4 class="text-center">100% finançable</h4>
            <p>Nous t'aidons à monter ton dossier de financement pour que tu puisses faire la formation à moindre coût.</p>
            <!-- End Icon Blocks -->
          </div>
          <div class="col-sm-6 mb-3">
            <!-- Icon Blocks -->
            <figure class="w-100 mx-auto max-w-8rem mb-3">
              <%= image_tag("icons/video-tutorials.png", class: "img-fluid", alt: "Icône d'illustration de la formation 100% en ligne") %>
            </figure>
            <h4 class="text-center">100% en ligne</h4>
            <p>Fais la formation d'où tu veux, à distance et à ton rythme grâce aux vidéos et aux lives.</p>
            <!-- End Icon Blocks -->
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <!-- Icon Blocks -->
            <figure class="w-100 mx-auto max-w-8rem mb-3">
              <%= image_tag("icons/video.png", class: "img-fluid", alt: "Icône d'illustration d'accès à vie aux vidéos") %>
            </figure>
            <h4 class="text-center">Accès à vie aux vidéos</h4>
            <p>Nous te garantissons un accès aux vidéos à vie afin que tu puisses revenir sur certaines notions plus tard. </p>
            <!-- End Icon Blocks -->
          </div>
          <div class="col-sm-6">
            <!-- Icon Blocks -->
            <figure class="w-100 mx-auto max-w-8rem mb-3">
              <%= image_tag("icons/conversation.png", class: "img-fluid", alt: "Icône d'illustration de la communauté") %>
            </figure>
            <h4 class="text-center">Accès à vie à la communauté</h4>
            <p>Une fois la formation commencée, tu fais partie de notre communauté privée et on ne te lâchera pas.</p>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Pricing Section -->