<!-- Testimonials Section -->
<div id="testimonials" class="bg-light rounded mx-3 mx-md-11 mt-11">
  <div class="container space-1 space-md-2">
    <div class="card bg-transparent shadow-none">
      <div class="row">
        <div class="col-lg-3 d-none d-lg-block">
          <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light" data-options='{direction: "reverse"}' style="overflow: visible;">
            <div data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4", mid:"0", final:"-4"}]'>
              <%= image_tag("people/david-millet.jpg", class: "img-fluid rounded shadow-lg", alt: "Témoignage de David Millet - Photo de Mathilde Baron") %>
              <!-- SVG Shapes -->
              <figure class="max-w-15rem w-100 position-absolute bottom-0 left-0 z-index-n1">
                <div class="mb-n7 ml-n7">
                  <%= image_tag("svg/components/dots-5.svg", class: "img-fluid", alt: "Texture de fond") %>
                </div>
              </figure>
              <!-- End SVG Shapes -->
            </div>
          </div>
        </div>

        <div class="col-lg-9">
          <!-- Card Body -->
          <div class="card-body h-100 rounded p-0 p-md-4">
            <!-- SVG Quote -->
            <figure class="mb-3">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36" height="36" viewBox="0 0 8 8">
                <path fill="#377dff" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                                        C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                                        c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                                        C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
              </svg>
            </figure>
            <!-- End SVG Quote -->

            <div class="row">
              <div class="col-lg-8 mb-3 mb-lg-0">
                <div class="pr-lg-5">
                  <blockquote class="h3 font-weight-normal mb-4">La formation Artiste Entrepreneur m'a permis de mieux comprendre la dimension entrepreneuriale de l'art. J'ai pu faire ma propre stratégie de développement et améliorer mes revenus issus de ma musique.</blockquote>
                  <div class="media">
                    <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                      <%= image_tag("100x100/david-millet.png", class: "avatar-img", alt: "Photo d'illustration du témoignant") %>
                    </div>
                    <div class="media-body">
                      <a href="https://www.facebook.com/iyere.music/" target="_blank">
                        <span class="font-weight-bold">Iyere</span>
                      </a>
                      <span class="font-size-1">&mdash; Musicien Entrepreneur</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 column-divider-lg">
                <hr class="d-lg-none">

                <div class="pl-lg-5">
                  <span class="h3 text-primary">Une communauté inspirante.</span>
                  <p class="font-size-1">Accède à une communauté motivée qui partage ses bonnes pratiques pour faire mieux chaque jour.</p>
                  <a class="font-size-1 text-nowrap" href="#apply">Rejoindre la communauté <i class="fas fa-angle-right fa-sm ml-1"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Card Body -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Testimonials Section -->