<!-- Hero Section -->
<div class="container space-top-3 space-top-lg-4 space-bottom-1 space-bottom-md-2">
  <div class="w-md-80 w-lg-75 text-center mt-7 mt-xl-0 mx-md-auto">
    <h1 class="display-4">Le blog des artistes entrepreneurs</h1>
    <p class="lead">Tous nos conseils et article sur l'entrepreneuriat artistique.</p>
  </div>
</div>
<!-- End Hero Section -->