h1, .h1 {
  font-family: 'Roboto', sans-serif !important;
  color: #21325b !important;
}

h2, .h2 {
  font-family: 'Roboto', sans-serif !important;
  color: #21325b !important;
}

h3, .h3 {
  font-family: 'Roboto', sans-serif !important;
  color: #21325b !important;
}

h4, .h4 {
  font-family: 'Roboto', sans-serif !important;
  color: #21325b !important;
}

h5, .h5 {
  font-family: 'Roboto', sans-serif !important;
  color: #21325b !important;
}

p {
  font-family: 'Open Sans Regular', sans-serif !important;
}

.text-initial {
  all: initial;
}