<% components_path = "blog/articles/index_components/" %>

<main id="content" role="main">
  <%= render components_path + "hero" %>
  <!-- Blog Card Section -->
  <div class="blog container space-top-md-2 space-bottom-2 space-bottom-lg-3">
    <% featured_article = @articles.first %>
    <%= render components_path + "featured", featured_article: featured_article %>
    <%= render components_path + "index", featured_article: featured_article  %>
    <%= render "blog/articles/shared/native_ad" %>
  </div>
  <!-- End Blog Card Section -->
</main>