<% components_path = "blog/articles/show_components/" %>

<main id="content" class="blog" role="main">
  <%= render components_path + "body" %>
  <%= render components_path + "related_articles" %>
</main>