<!-- ========== FOOTER ========== -->
<footer class="bg-navy">
  <div class="container">
    <div class="space-1">
      <div class="row align-items-md-center mb-7">
        <div class="col-md-6 mb-4 mb-md-0">
          <!-- Nav Link -->
          <ul class="nav nav-sm nav-white nav-x-sm align-items-center">
            <li class="nav-item">
              <%= link_to "CGV", cgv_path, class: "nav-link" %>
            </li>
            <li class="nav-item opacity mx-3">&#47;</li>
            <li class="nav-item">
              <%= link_to "Mentions légales", legal_path, class: "nav-link" %>
            </li>
            <li class="nav-item opacity mx-3">&#47;</li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:hello@artiste-entrepreneur.com">Nous contacter</a>
            </li>
          </ul>
          <!-- End Nav Link -->
        </div>

        <div class="col-md-6 text-md-right">
          <ul class="list-inline mb-0">
            <!-- Social Networks -->
            <li class="list-inline-item">
              <a class="btn btn-xs btn-icon btn-soft-light" href="https://www.facebook.com/Artiste-Entrepreneur-100567881834477">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <!-- End Social Networks -->
          </ul>
        </div>
      </div>

      <!-- Copyright -->
      <div class="w-md-75 text-lg-center mx-lg-auto">
        <p class="text-white opacity small">
          &copy; Formation développée par <a href="https://anatoletools.com/" target="_blank">Anatole Tools</a>, <a href="https://nathancocherie.com/en/" target="_blank">Nathan Cocherie</a> et <a href="https://www.studiomatic.co" target="_blank">Studiomatic</a></p>
        <p class="text-white opacity small">Fait avec <i class="fas fa-heart text-danger"></i> à Paris</p>
      </div>
      <!-- End Copyright -->
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->

<!-- Go to Top -->
<a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
   data-hs-go-to-options='{
     "offsetTop": 700,
     "position": {
       "init": {
         "right": 15
       },
       "show": {
         "bottom": 15
       },
       "hide": {
         "bottom": -15
       }
     }
   }'>
  <i class="fas fa-angle-up"></i>
</a>
<!-- End Go to Top -->